{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Menú para mascotas
{% endblock %}
{% block form %}
<form action="/MenuPet/search_product" method="GET">
  <input type="text" placeholder="Menu para ellos" name= 'search' aria-label="Search" id="search">
  <button id="searchbtn" type="submit">Buscar</button>
</form>    
 {% endblock %}

 {% block contenido %}
 
 {{message}}
 <div id="content">
    <div>
      <h1>Nuestro Menu para mascotas:</h1>
      <h3>(Aprovechá los descuentos en productos seleccionados)</h3>
      <ul>

        {% for product in object.list %}
        <p><li>
          <div>
            <div>
              <h2><a>{{product.producto}}</a></h2>
              <p>{{product.detalle}}</p>
              <b><a class="view">${{product.precio}}</a></b> </div>
            <a><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>
            
        </li>
        {% if product.image %}
        <a><img src="{{product.image.url}}" width="220" height="220" alt=""></a>
        {% endif %}</p>
        {% endfor %}
      </ul>
    </div>
  </div>
  
{% endblock %}
