{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Editar menu
{% endblock %}

{% block form %}
<form action="/MenuHum/search_product" method="GET">
    <input type="text" placeholder="Menu para usted" name= 'search' aria-label="Search" id="search">
    <button id="searchbtn" type="submit">Buscar</button>
  </form>
 {% endblock %}
 
{% block contenido %} 

{% if form %}
<div id="content">
    <div id="account">
        <h2 style="margin-left:auto;margin-right:auto;margin-top:0rem">Complete los campos del nuevo producto</h2>
        <form action="" method="POST" enctype="multipart/form-data"style="margin-left:auto;margin-right:auto;margin-top:0rem">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" , value="Enviar" class="submitbtn">
        </form>
    </div>
</div>

{% endif %}

{% endblock %}