{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle de producto
{% endblock %}

{% block form %}
    <!--<form action="/MenuHum/search_product" method="GET">
      <input type="text" placeholder="Buscar" name= 'search' aria-label="Search">
      <input type="submit" value="" id="searchbtn">
    </form>-->

 {% endblock %}

{% block contenido %}
{{message}}
<div id="content">
   <div>
     <h2>Edicion de Menu:</h2>
    <p> <a class="editar" href="/MenuHum/create_human/">Agregar producto</a>
     <a class="editar" href="/MenuHum/editar_human/">Volver</a>
     
     <ul>
       <li>
         <div>
           <div>
             <p><a class="editar" href="/MenuHum/update-product/{{object.id}}/">Editar</a>
               <a class="editar" href="/MenuHum/delete-product/{{object.id}}/">Eliminar</a></p>
             <h2><a>{{object.producto}}</a></h2>
             <p>{{object.detalle}}</p>
             <b><a class="view">${{object.precio}}</a></b> </div>        
                      
            <a><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>            
       </li>
       {% if object.image %}
       <p><img src="{{object.image.url}}" width="220" height="220" alt=""></p>
       {% endif %}
       
     </ul>
   </div>
 </div>
{% endblock %}