{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Menú 
{% endblock %}
{% block form %}
    
 {% endblock %}

 {% block contenido %}
 <h1>El menu para usted:</h1>

 {{message}}
 <div id="content">
    <div>
      <h2>No te quedes sin probar nuestro café</h2>
    
      
      <ul>

        {% for product in object_list %}
        <li>
          <div>
            <div>
              
              <h2><a>{{product.producto}}</a></h2>
              <p>{{product.detalle}}</p>
              <b><a class="view">${{product.precio}}</a></b> </div>        
              {% if request.user.is_authenticated and request.user.is_staff %}
            
            {% endif %}
            <a><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>            
        </li>
        {% if product.image %}
        <p><img src="{{product.image.url}}" width="220" height="220" alt=""></p>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  
{% endblock %}