{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Solicitar un servicio
{% endblock %}

{% block form %}

 {% endblock %}
 
{% block contenido %} 

{% if form %}
<div id="content">
    <div id="account">
        <h2 style="margin-left:auto;margin-right:auto;margin-top:0rem">Complete los campos para solicitar el servicio</h2>
        <form action="" method="POST" enctype="multipart/form-data"style="margin-left:auto;margin-right:auto;margin-top:0rem">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" , value="Enviar" class="submitbtn">
        </form>
    </div>
</div>

{% endif %}

{% endblock %}