{% extends 'base.html' %}

{% block titulo %}
    Detalle de producto
{% endblock %}

{% block contenido %}
<h2 >Servicio solicitado correctamente!!</h2>
<div class="d-flex">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{object.nombre_apellido}}</h5>
            <p class="card-text">{{object.telefono}}</p>
            <p class="card-text">{{object.email}}</p>
            <p class="card-text">{{object.nombre_mascota}}</p>
            <p class="card-text">{{object.raza}}</p>
            <p class="card-text">{{object.edad}}</p>
            <!--<a href="/ServPet/update-product/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/ServPet/delete-product/{{object.id}}/" class="btn btn-danger">Eliminar</a>-->
        </div>
    </div>

</div>

{% endblock %}