{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle de Servicio
{% endblock %}
{% block form %}

 {% endblock %}
{% block contenido %}
{{message}}
<div id="content">
   <div>
     <h2>Muchas gracias por tu solicitud!</h2>
     <h4>Pronto nos estaremos contactando</h4>
    
     
     
     <ul>
      <p>Nombre y Apellido: {{object.nombre_apellido}}</p>
      <p>Telefono: {{object.telefono}}</p>
      <p>Correo: {{object.email}}</p>
      <p>Nombre de mascota: {{object.nombre_mascota}}</p>
      <p>Raza: {{object.raza}}</p>
      <p>Edad: {{object.edad}}</p>
      <p>Servicio solicitado: 
        {% if object.Servicios == 1 %}
        Baño
        {% elif object.Servicios == 2 %}
        Peluqueria
        {% elif object.Servicios == 3 %}
        Corte de uñas y limpeza de orejas
        {% else %}
        Otro
        {% endif %}

       </p>     
       <p><a class="editar" href="/">Volver</a>
      <!-- <a class="editar" href="/ServPet/update-product/{{product.id}}/">Editar</a>
       <a class="editar" href="/ServPet/delete-product/{{product.id}}/">Eliminar</a></p>-->
             
     </ul>
   </div>
 </div>
{% endblock %}

