{% extends 'base.html' %}

{% block titulo %}
    Servicios solicitados
{% endblock %}
{% block form %}
    <form class="form-inline my-2 my-lg-0" action="/ServPet/search_product" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Servicios solicitados" name= 'search' aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
 {% endblock %}

 {% block contenido %}
 <h2>Servicios solicitados:</h2>

 {{message}}
 
 <div class="d-flex" style="margin-top:5rem; margin-left:7rem">
     {% for product in object_list %}
 
     <div class="card" style="width: 18rem;">
             <div class="card-body">
                <h5 class="card-title">{{product.nombre_apellido}}</h5>
                <p class="card-text">{{product.telefono}}</p>
                <p class="card-text">{{product.email}}</p>
                <p class="card-text">{{product.nombre_mascota}}</p>
                <p class="card-text">{{product.raza}}</p>
                <p class="card-text">{{product.edad}}</p>
             <a href="/ServPet/detail-product/{{product.id}}/" class="btn btn-primary">Ver mas!</a>
         </div>
     </div>
 
     {% endfor %}
 </div>

{% endblock %}