{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Menu
{% endblock %}
{% block form %}
    
 {% endblock %}

 {% block contenido %}
 <h2>El menu para usted:</h2>

 {{message}}
 <div id="content">
    <div>
      <h1>The Pastry shop</h1>
      <ul>

        {% for product in object_list %}
        <li>
          <div>
            <div>
              <h2><a href="#">{{product.producto}}</a></h2>
              <p>{{product.detalle}}</p>
              <b><a href="#" class="view">${{product.precio}}</a></b> </div>
            <a href="#"><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>
            
        </li>
        <a href="#"><img src="{% static 'website/images/special-treats.jpg' %}" alt=""></a>
        {% endfor %}
      </ul>
    </div>
  </div>
  
{% endblock %}