{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Menu
{% endblock %}
{% block form %}
    
 {% endblock %}

 {% block contenido %}
 

 {{message}}
 <div id="content">
    <div>
      
      <h1>Te contamos un poco del origen de la página y de nosotros</h1>
      <h4>Esta página fue desarrollada por dos personas. Es el fruto de lo aprendido luego de realizar el curso
        de Coderhouse sobre el lenguaje de programación Python y su framework Django.</h4>
      
      <h2><b>Elais Viegas</b></h2> 
      <h4>Es técnica química y actualmente trabaja en un laboratorio. Viene estudiando y interesándose en la 
        programación hace 9 meses, ahora ampliando conocimientos hacia el desarrollo web.
      </h4>
      <h2><b>Damián Juarez</b></h2>
      <h4>Es tecnico en redes informaticas y encargado del area de TI en una planta industrial de Bunge SA en San Jeronimo Sud, Pcia. de Santa Fe.
        Con mas de 15 años de experiencia en el area,  la idea es seguir creciendo profesionalmente ahora incluyendo conocimiento en el area de desarrollo.  
      </h4>
      <p><a href="https://www.linkedin.com/in/damian-juarez-it/">Linkedin</a></p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ycaArhHmEeo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  
{% endblock %}