{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Menu
{% endblock %}
{% block form %}
    
 {% endblock %}

 {% block contenido %}
 <h1>Un poco sobre nosotros</h1>

 {{message}}
 <div id="content">
    <div>
      <h2>Te contamos un poco del origen de la página</h2>
      <h4>Esta página fue desarrollada por dos personas. Es el fruto de lo aprendido luego de realizar el curso
        de Coderhouse sobre el lenguaje de programación Python y su framework Django.</h4>
      <h5>Damián Juarez 
        Elais Viegas es técnica química y actualmente trabaja en un laboratorio. Viene estudiando y interesándose en la 
        programación hace 9 meses, ahora ampliando conocimientos hacia el desarrollo web.
      </h5>
      <ul>
        {% for product in object_list %}
        <li>
          <div>
            <div>
              <h2><a href="#">{{product.producto}}</a></h2>
              <p>{{product.detalle}}</p>
              <b><a href="#" class="view">${{product.precio}}</a></b> </div>
            <a href="#"><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>
            
        </li>
        <a href="#"><img src="{% static 'website/images/special-treats.jpg' %}" alt=""></a>
        {% endfor %}
      </ul>
    </div>
  </div>
  
{% endblock %}