{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{% static 'website/images/favicon.png' %}">
<title>{% block titulo %}
  {% endblock %}  </title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css"><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css"><![endif]-->
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css"><![endif]-->
</head>
<body>
<div id="header">
  <div>
    <div>
      <div id="logo"> <a href="#"><img src="{% static 'website/images/logo.png' %}" alt=""></a> 
      </div>
      <div>
        <div> {% if request.user.is_authenticated %}
          <a href="/logout/">Logout</a>
          <a>{{request.user.username}}</a>
          <a><img src="{{request.user.perfil.imagen.url}}" style="height:1rem;"></a>
          {% else %}
          <a href="/register/">Registrarse</a> <a href="/login/" class="last">Login</a>
          {% endif %}
        </div>
        {% block form %}
        <!--<form action="#">
          <input type="text" id="search" maxlength="30">
          <input type="submit" value="" id="searchbtn">
        </form>-->
        {% endblock %}
      </div>
    </div>
    <ul>
      <li class="current"><a href="/">Inicio</a></li>
      <li><a href="/MenuHum/">Menu</a></li>
      <li><a href="/MenuPet/">Menu Pet</a></li>
      <li><a href="/servicios/">Servicios</a></li>
      {% if request.user.is_authenticated %}
     <li><a href="/ServPet/">Solicitar Servicio</a></li>
     {% endif %}
     {% if request.user.is_authenticated and request.user.is_staff %}
     <li><a href="/MenuHum/editar_human/">Editar Menu</a></li>
     <li><a href="/MenuPet/editar_pet/">Editar Menu Mascotas</a></li>
     <li><a href="/ServPet/list_serv/">Servicios solicitados</a></li>
     {% endif %}
    </ul>
  </div> 
</div>


{% block contenido %}
<div id="content">
  <div class="home">
    <div class="aside">
      <h1>Bienvenidos a Pet Cafe</h1>
      <p>Pastry is the name given to various kinds of baked goods made from ingredients such as flour, butter, shortening, baking powder or eggs. Small cakes, tarts and other sweet baked goods are called &#34;pastries&#34;.</p>
      <p>Pastry may also refer to the dough from which such baked goods are made. Pastry dough is rolled out thinly and used as a base for baked goods. Common pastry dishes include pies, tarts and quiches.
      <p>Pastry is distinguished from bread by having a higher fat content, which contributes to a flaky or crumbly texture. A good pastry is light and airy and fatty, but firm enough to support the weight of the filling. When making a shortcrust pastry, care must be taken to blend the fat and flour thoroughly before adding. <a href="#" class="readmore">read more</a></p>
    </div>
    <div class="section">
      <div>
        <h2>The food story</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adispiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
      </div>
        <ul>
        <li> <a href="#"><img src="{% static 'website/images/burgercake.jpg' %}" alt=""></a> </li>
        <li> <a href="#"><img src="{% static 'website/images/cupcake.jpg' %}" alt=""></a> </li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}  
<div id="footer">
  <div class="home">
    <div>
      <div class="aside">
        <div class="signup">
          <div> <b> <span>Solicita tu servicio</span></b> <a href="/register/">Escribinos</a>
            <p>Te esteremos contactando</p>
          </div>
        </div>
        <div class="connect"> <span>Seguinos en redes</span>
          <ul>
            <li><a href="https://www.facebook.com/Pet-Cafe-105550645543750" class="facebook">Facebook</a></li>
            <li><a href="https://www.instagram.com/pet_cafe_ok/" class="twitter">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div>
          <div>
            <h3><a href="#">El más vendido para ellos</a></h3>
            <h4>Alimento para perros Rayol canin</h4>
            <p>En alimento para perros es el más solicitado en nuestras tiendas. De excelente calidad, nos entrega la confianza 
              de estar dándoles lo mejor del mercado. Ofrece la mejor opción para cada edad y raza. Por eso lo elegimos como el producto recomendado para tu mascota.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="featured">
    <ul>
      <!--<li class="first"> <a href="#"><img src="{% static 'website/images/fruit-cake.jpg' %}" alt=""></a>
        <h2><a href="#">Tips on how to preserve</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adispiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. <a href="#" class="readmore">read more</a></p>
      </li>
      <li> <a href="#"><img src="{% static 'website/images/italian.jpg' %}" alt=""></a>
        <h2><a href="#">Menu of the day: Italian</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adispiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. <a href="#" class="readmore">read more</a></p>
      </li>
      <li> <a href="#"><img src="{% static 'website/images/fruit.jpg' %}" alt=""></a>
        <h2><a href="#">Fruit menu for your diet</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adispiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. <a href="#" class="readmore">read more</a></p>
      </li>
      <li> <a href="#"><img src="images/{% static 'website/desserts.jpg' %}" alt=""></a>
        <h2><a href="#">Desserts for every occassion</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adispiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. <a href="#" class="readmore">read more</a></p>
      </li>-->
    </ul>
  </div>
  <div id="navigation">
    <div>
      
      <p><a>Sobre nosotros:</a> <a target="_blank" href="/about/">Desarroladores</a></p>
      <p>Copyright &copy; 2022  Todos los derechos reservados | Damian Juarez / Elais Viegas </p>
    </div>
  </div>
</div>
</body>
</html>
