
{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<div id="content">
  <div class="home">
    <div class="aside">
      <h1>Bienvenidos a Pet Cafe</h1> <br><br>
      <p>Desde 2005 tostamos nuestro propio café llegado desde Colombia. Para crear una taza con el máximo aroma, 
        acidez, cuerpo y sabor. Al trabajar en un delicado balance en calor, tiempo y arte, nuestros maestros en el tostado 
        hacen resaltar estas únicas características de cada grano de café. 
        Desde la selección de sus granos, hasta la taza, 
        conservando el amor y el respeto que tenemos por lo que hacemos, desde el primer día.
        Por eso nuestro café es ÚNICO. Pero sentimos que podíamos combinar nuestro amor por la cafetería 
        con el cariño a nuestras mascotas. Que al final, era lo único que tenemos en común quienes fundamos esta loca idea.
        Esperamos que la disfruten tanto como nosotros!</p>
    </div>
    <div class="section">
      <div>
        <h2>¿Que esperás para disfrutar de nuestros servicios?</h2>
        <p>Contamos con todo lo necesario para que vos y tu mascota pasen un buen momento fuera de la rutina. 
          Nos encontramos ubicados en el centro de la ciudad, en una zona muy accesible y contamos con estacionamiento propio para comodidad de nuestros clientes.</p>
      </div>
      <li style="list-style-type: none;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13134.67439366037!2d-58.388096923685474!3d-34.61254072730214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad7c271d155%3A0xc9f98936bbfefff5!2sMonserrat%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1655941118968!5m2!1ses-419!2sar" width="180" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </li>
    </div>
  </div>
</div>

<h3>{{message}}</h3>
{% endblock %}
