{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Resultado de busqueda
{% endblock %}
{% block form %}
<form action="/MenuHum/search_product" method="GET">
  <input type="text" placeholder="Menu para usted" name= 'search' aria-label="Search" id="search">
  <button id="searchbtn" type="submit">Buscar</button>
</form>
 {% endblock %}
{% block contenido %}

<div id="content">
   <div>
     <h1>Resultado de busqueda:</h1>
       <ul>

    {% for MenuHuman in products %}
    <p><li>
        <div>
          <div>
            
            <h2><a>{{MenuHuman.producto}}</a></h2>
            <p>{{MenuHuman.detalle}}</p>
            <b><a class="view">${{MenuHuman.precio}}</a></b> </div>        
           
          <a><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>            
      </li>
      {% if MenuHuman.image %}
      <p><img src="{{MenuHuman.image.url}}" width="220" height="220" alt=""></p>
      {% endif %}</p>
      {% endfor %}
      <h2><div style="color:red">
        {{errors}}
        </div></h2>
    </ul>
  </div>
</div>
</div>

{% endblock %}