{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Resultado de busqueda
{% endblock %}
{% block form %}
<form action="/MenuPet/search_product" method="GET">
    <input type="text" placeholder="Menu para ellos" name= 'search' aria-label="Search" id="search">
    <button id="searchbtn" type="submit">Buscar</button>
  </form>
 {% endblock %}
{% block contenido %}
<div id="content">
    <div>
      <h1>Resultado de busqueda:</h1>
        <ul>
 
     {% for MenuMasc in products %}
     <p><li>
         <div>
           <div>
             
             <h2><a>{{MenuMasc.producto}}</a></h2>
             <p>{{MenuMasc.detalle}}</p>
             <b><a class="view">${{MenuMasc.precio}}</a></b> </div>        
            
           <a><img src="{% static 'website/images/healthy-food.jpg' %}" alt=""></a>            
       </li>
       {% if MenuMasc.image %}
       <p><img src="{{MenuMasc.image.url}}" width="220" height="220" alt=""></p>
       {% endif %}</p>
       {% endfor %}
       <h2><div style="color:red">
         {{errors}}
         </div></h2>
     </ul>
   </div>
 </div>
 </div>
{% endblock %}