
{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Solicitar servicios
{% endblock %}

{% block contenido %}
<div id="content">
    <div id="services">
      <div class="aside">
        <h1>Nuestros servicios</h1>
        <span>Un buen baño</span>
        <p>La recomendación general es bañarlos cada tres semanas aproximadamente (aunque hay excepciones particulares), ya que depende del perro 
          y su actividad diaria.
          Tené en cuenta que si aún es cachorro, el baño debe iniciarse al terminar su vacunación ya que puede ser una actividad 
          estresante que baje sus defensas y los exponga a enfermedades.</p>
        <span>Peluquería</span>
        <p>El corte y baño completo incluye baño con shampoo natural, secado, corte a máquina y/o tijera, peinado.
          También podés solicitar el baño hipoalergénico, pensado especialmente para mascotas con piel delicada. 
          Incluye baño con shampoo hipoalergénico, secado y peinado.</p>
        <span>Corte de uñas y limpieza de oídos</span>
        <p>Muchas veces se le da poca importancia pero son cuidados que nos pueden salvar de una visita a la veterinaria. 
          Previene heridas e infecciones por rotura de uñas y mantiene suaves las patitas de tu mascota.
          Previene infecciones en los oídos y mantiene la extraordinaria capacidad auditiva que distingue a los perros.</p>
      </div>
      <div class="section">
        <h3>Ellos, más que contentos</h3>
        <p>Si todavía no nos conocés te invitamos a ser parte de nuestros queridos clientes. Sumate a esta
          experiencia increíble, a pasar un buen rato y porque no, a que se haga costumbre. El momento exclusivo 
          entre vos y tu mascota, ambos van a quedar mas que satisfechos.</p>
        
          <div id="visitshop">
          <div>
            <p><span>Visitá nuestro menú</span>Mirá las promociones</p>
            <a href="/MenuHum/" class="visit">Menú</a> </div>
        </div>
      </div>
    </div>
  </div>
<h3>{{message}}</h3>
{% endblock %}