{% extends 'base.html' %}

{% block titulo %}
Registro
{% endblock %}

{% block contenido %}
<div id="content">
<div id="account">

    <h2 style="margin-left:auto;margin-right:auto;margin-top:0rem">Complete los campos para registrarse</h2>
    <h3>{{errors}}</h3>
    <form action="" method="POST" style="margin-left:auto;margin-right:auto;margin-top:0rem">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Ingresar" class="submitbtn">
    </form>

</div>
</div>

{% endblock %}